extends layout
block scripts
    script(src='/controllers/index-controller.js')
block content
    #add-food.container
        form(class='form-horizontal')
            .form-group
                label(class='col-sm-1') Food
                .col-sm-11
                    input(type='text' class='form-control' placeholder='Food')
            .form-group
                label(class='col-sm-1') Servings
                .col-sm-11
                    input(type='text' class='form-control' placeholder='Servings')
            .form-group.btn-toolbar
                button(type='button' class='btn btn-primary save') Save
                button(type='button' class='btn btn-default cancel') Cancel