doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libraries/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/libraries/bootstrap/css/bootstrap-theme.css')
    script(type='text/javascript' src='libraries/bootstrap/js/bootstrap.js')
  body
    block content
